{% extends 'catalog/base.html' %}
{% block content %}

<div class="row text-center">
    <div class="col-12 mb-5">
        {% if user.is_authenticated %}
        <a class="btn btn-outline-primary" href="{% url 'catalog:create_product' %}">Добавить товар</a>
        {% endif %}
    </div>
    {% for product in object_list %}
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">{{ product.price_per_purchase }}руб.</h1>
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    {{ product.description|slice:100 }}
                </ul>

                {% if product.versions.exists %}
                <p>Версия {{ product.name_version }}</p>
                <p>Номер версии {{ product.number_version }}</p>
                {% endif %}

                {% if user.is_authenticated %}
                <div class="btn-group">
                    <a href="{% url 'catalog:product' product.pk %}" type="button"
                       class="btn btn-sm btn-outline-secondary">View</a>
                    <a href="{% url 'catalog:update_product' product.pk %}" type="button"
                       class="btn btn-sm btn-outline-secondary">Edit</a>
                    <a href="{% url 'catalog:delete_product' product.pk %}" type="button"
                       class="btn btn-sm btn-outline-secondary">Delete</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md">
            SkyStore
            <small class="d-block mb-3 text-muted">&copy; 2023</small>
        </div>
        <div class="col-6 col-md">
            <h5>Категории</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Рассылки</a></li>
                <li><a class="text-muted" href="#">Телеграм боты</a></li>
                <li><a class="text-muted" href="#">Полезные утилиты</a></li>
                <li><a class="text-muted" href="#">Веб-приложения</a></li>
                <li><a class="text-muted" href="#">Микросервисы</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Дополнительно</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Мы пишем</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>О нас</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="/contacts/">Контакты</a></li>
            </ul>
        </div>
    </div>
</footer>
{% endblock %}
